    /* .font {
      display: block;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
    }
    .noPoint{
      list-style-type: none;
    }
    .grayText{
      color: gray;
      
    }
    .bordear{
      border-style:solid;
      border-color: white;
      text-align:center;
      background-color: black;
      height: 4em;
      
    }
    .redondear{
      border-radius:6%;
    }
    li a:hover {
    background-color:black;
    color: white;
    text-decoration: none; //saca el subrayado de un hiperviculo
     }
    li a:visited{
      background-color:black;
      color: white;
      text-decoration-color: black;
      font-style: oblique;
    } */

    /* * {
      margin: 0;
      padding: 0;
    } */

    /* @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville'); */

    @font-face {
      font-family: Libre;
      src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
    }

    body {
      background-color: #b3c0d8;
    }

    #menu {
      background-color: rgb(255, 127, 39);
      /* background-color: #9b5009; */
      /* background-color: white; */
      width: 100%;
      border: ridge;
      border-color: rgb(255, 98, 39);
      /* border-color: black; */
      /* border-style: ridge; */
      /* margin: 20px auto; */
      /* #010d21;  azul oscuro*/
      /* -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg); */
      /* text-align: center; */
      /* margin: 10%; */
    }

    #menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
    }

    #menu ul li {
      display: inline-block;
      width: calc(100% / 8);
      /* margin: 1px; */
    }

    #menu ul li a {
      /* color: white; */
      color: black;
      font-weight: bolder;
      text-decoration: none;
      text-align: center;
      /* saca los puntos */
      display: block;
      /*hace que se apriete todo el bloque */
      /*este y padding tienen q ir en conjunto*/
      /* padding: 10px 10px; */
      padding-bottom: 15px;
      /*sirve para poner espacio alrededor del texto  */
      /* border-bottom: solid;
      border-bottom-color: aquamarine; */
    }

    #menu img {
      width: 60%;
      height: 230px;
      text-align: center;
      margin-bottom: 10px;
      margin-left: 20%;
    }

    /* #menu ul li img {
      margin-top: 1px;
      margin-left: 10px;
      padding-top: 1px;
      height: 50px;
      width: 190px;
      padding: 10px 30px;
      display: block;
    } */

    #menu ul li a:hover {
      /* background-color: gray; */
      color: rgb(48, 193, 245);
    }

    #menu h1 {
      text-align: center;
    }

    .item-r {
      display: block;
      float: right;
    }

    .tamImg {
      height: 20px;
      width: 20px;
    }

    .pestañas {
      /* background-color: #7498db; */
      /* background-color: whitesmoke; */
      background-color: rgb(48, 193, 245);
      /* color:#7498db; */
      border: ridge;
      border-color: #7498db;
      /* background-color: #91a0bc; */
      /* background-color: #031f4c; */
      height: 100%;
    }

    #home {
      color: white;
    }

    /*********************************TAB******************************/

    #tab {
      color: black;
      /* background-color: transparent;
        background-image:url("http://www.wallpaperk.com/wallpapers/resoluciones/18/world-map-para-pc-planisferio_1440x900_9595.jpg");
        color: white; */
    }

    #tab img {
      width: 50%;
      height: 350px;
      margin: 10px auto;
      display: block;
    }

    #tab header {
      text-align: center;
      font-family: cursive;
      font-size: 300%;
    }

    #tab ul {
      font-size: 2em;
      font-family: sans-serif;
    }

    #tab ul ul {
      font-size: 1em;
    }

    /* #tab h1 {
      text-align: center;
    } */

    /* #tab header {
      font-size: 3em;
      font-family: serif;
    } */

    /* #tab div {
      font-family: 'Libre Baskerville', serif;
    } */

    /* #tab div ul {
      font-size: 2em;
    }

    #tab div ul ul {
      font-size: 1em;
    } */

    /*************** fin TAB*********************/

    .tam2 {
      font-size: 2em;
    }

    .tam1 {
      font-size: 1em;
    }

    .separando {
      margin: 2%;
    }

    .separando2 {
      margin-top: 2%;
      margin-left: 15%;
    }

    .b {
      font-weight: bolder;
    }

    .c {
      text-align: center;
    }

    .s {
      font-family: cursive;
    }

    .banner {
      text-align: center;
      border: solid;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: 3%;
      font-weight: bolder;
      color: white;
      /* background-color: rgb(255, 127, 39);  */
      background-color: black;
      font-size: 200%
    }

    .item-enumeracion {
      font-weight: bolder;
    }

    #tab2 h3 {
      /* font-family: serif; */
      text-align: center;
    }

    #tab2 div a {
      font-weight: bolder;
      color: orangered;
    }

    /* .parrafo{
      font-family: fantasy;
    } */

    #tab2 div a:hover {
      color: orangered;
      text-decoration: none;
    }

    #tab2 b {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }