<script>
    $('#routers').addClass('fondocoach')
</script>

<div class="banner">
    <i class="fas fa-users"></i> COACHING
</div>
<div id="tab2" class="separando">

    <h3 class="b c n">El Secreto de una empresa exitosa es el resultado de las conversaciones entre los Líderes,
        Colaboradores y clientes </h3>

    <div class="row">
        Nos interesa el crecimiento y expansión de tu empresa.
    </div>
    <div class="row">
        Para ello contamos con coaches profesionales que te acompañan a tomar las mejores decisiones para tu negocio.
    </div>
    <div class="row">
        Te presentamos los servicios de Coaching:
    </div>
    <div class="row">
        <ul>
            <li>Asesoramiento y acompañamiento de gestión a Líderes y gerentes para la comunicación asertiva con sus
                equipos de trabajo, concreción de objetivos y toma de decisiones importantes o difíciles.</li>
            <li>Intervenciones dentro de las organizaciones con cada sector de la misma para cambio cultural,
                agilización de procesos, agentes de cambio. </li>
            <li>Servicio de Recursos Humanos para aquellas empresas que no cuenten con esa área.</li>
            <li> Procesos individuales con los colaboradores que quieren avanzar profesionalmente dentro de las
                organizaciones.</li>
            <li>Entrenamos a comerciales con herramientas de coaching, ejemplos y tips puntuales para cada rubro.</li>
        </ul>
    </div>
    <div class="row">
        <li class="n">Coaching Comercial:</li>
        <ul>
            <li>El arte del sortear filtros y llegar a la persona que decide (primeros llamados)</li>

            <li>Generación de contexto (armar el colchón de confianza, técnicas y tips)</li>
            <li>Administración del tiempo y follow up</li>
            <li>Estilos de clientes y como abordarlos</li>
            <li>Aprender a indagar (preguntas claves para a fin de acortar la brecha de cierre)</li>
            <li>Que motiva a los clientes a Elegirnos?</li>
            <li>Descubrir los beneficios de nuestro Servicio</li>
            <li>Tipos de escuchas - Modelos mentales</li>
            <li>Técnicas de lenguaje corporal y oratoria para reuniones efectivas</li>
            <li>Lenguaje positivo para speech de venta</li>
            <li>Tips para cierres efectivos.</li>

        </ul>
    </div>

</div>