<script>
    $('#routers').addClass('fondoecommerce')
</script>
<div class="banner">
    <i class="fas fa-globe"></i> e-Commerce
</div>
<div id="tab2" class="separando">

    <h2 class="c b">VENDA AL MUNDO</h2>

    <div class="row separando">
        Con e-Commex su empresa tiene la posibilidad de exponer al mundo sus productos. No pierda tiempo, suba ya sus
        fotos y condiciones
        para vender, si necesita un asistente haga click
        <!-- <a ui-sref="contacto" ui-sref-active="active">Aquí</a> -->
        <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Aquí</a>
        y deje todas sus dudas y datos para comunicarse.
    </div>

    <div class="row separando">
        En e-Comex, no queremos que invierta un solo dólar si no está seguro, por eso lo invitamos gratuitamente a que
        ingrese hasta
        5 productos con la imagen de cada uno. Usted puede ver en la página todos los mensajes recibidos.
    </div>
    <div class="row separando">
        Al ingresar e-Comex, le regala 3 créditos, con lo que usted podrá obtener los datos y contestar hasta tres
        mensajes.<br><br> Para
        comenzar:
        <ul>
            <li>
                <div class="prom">
                    <a href="reqCode.html" target="_blank" onclick="window.open(this.href, this.target, 'width=800%,height=400%'); return false;">Solicite
                        su código de promoción <img src="css/images/logoNaranjaMundo.svg" width="10%" height="10%"> </a>
                </div>
            </li>
            <li>
                <div class="prom">
                    Luego, ingrese a
                    <a href="http://www.B2Argentina.com" target="#">B2Argentina</a>,
                    cargue sus productos, la información de su Empresa y ¡a vender!
                </div>
            </li>
        </ul>


        <!-- aquí, -->

    </div>
    <!-- <div class="row separando"> -->
    <h2 class="c b">COMPRE EN TODO EL MUNDO</h2>
    <!-- </div> -->

    <div class="row separando">
        Es importante tener precios competitivos y a veces es necesario importar materias primas, máquinas,
        herramientas, ó productos
        terminados para su distribución.
    </div>
    <div class="row separando">
        e-Comex, es el sitio justo para ello. Hágale saber a un
        <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Asistente</a>
        su necesidad y con gusto trabajaremos para lograr el mejor y más eficiente.
    </div>
    <div class="row separando">
        <h2>e-Comex trabaja para Ud.:</h2>
    </div>
    <div class="row separando">
        <ul>
            <li>
                Traducimos los mensajes en Portugués, Español, Inglés y Mandarín (Chino)
            </li>
            <li>
                Todos nuestros representantes reciben su oferta o demanda y la transmiten a potenciales
                clientes/proveedores.
            </li>
            <li>
                Si hay una posibilidad de cotización o negocio puede pedir asesoramiento a un asistente, ya sea, por
                transporte, despacho de Aduanas, o lo que necesite.
            </li>
            <li>
                Con costos muy bajos puede solicitar al asistente información del proveedor o cliente.
            </li>
            <li>
                Enviamos y/o recibimos las muestras que necesite.
            </li>
            <li>
                Tramitamos su crédito por anticipo de Exportaciones.
            </li>
            <li>
                También hay créditos para ampliación edilicia de su fábrica, máquinas, etc.
            </li>
        </ul>
    </div>
</div>