<script>
    $('#routers').addClass('fondotrading')
</script>
<div class="banner">
    <i class="far fa-handshake"></i> FERIA VIRTUAL
</div>
<div class="row separando feriaVirtual marLeft12">
    <div class="row marbot2">

        <div class="col-sm-4">
            <!-- 1 feria bolivia -->

            <a href="archivos/1-FeriaBoliviaMC.pdf" target="_blank">
                <img src="images/feria/ferias_virtuales_logo_bolivia_2020_informacion.png">
            </a>
        </div>

        <div class="col-sm-4">
            <a href="archivos/2-FichaTecnicaMC.pdf" target="_blank">
                <img src="images/feria/ferias_virtuales_logo_bolivia_2020_ficha_tecnica.png">
            </a>
            <!-- 2 ficha tecnica -->
        </div>

        <div class="col-sm-4">
            <a href="archivos/3-comoIngresarFeria.pdf" target="_blank">
                <img src="images/feria/ferias_virtuales_logo_bolivia_2020_como_ingresar.png">
            </a>
            <!-- 3 como ingresar a la feria virtual -->
        </div>

    </div>
    <div class="row marbot2">

        <div class="col-sm-4">
            <a href="archivos/4-standsMedidas.jpg" target="_blank" >
                <img src="images/feria/ferias_virtuales_logo_bolivia_2020_stand_para_decorar_con_medidas.png">
            </a>
            <!-- 4 Stand para decorar con medidas -->
        </div>

        <div class="col-sm-4">
            <a href="archivos/5-standMuestra.jpg" target="_blank">
                <img src="images/feria/ferias_virtuales_logo_bolivia_2020_stand_decorado_muestra.png">
            </a>
            <!-- 5 stand decorado muestra -->
        </div>

        <div class="col-sm-4">
            <a href="inscripcion-feria.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1400%,height=1000%'); return false;">
                <img src="images/feria/ferias_virtuales_logo_bolivia_2020_inscripcion.png">
            </a>
            <!-- 6 inscripcion - -->
        </div>

    </div>

</div>