<script>
    $('#routers').addClass('fondoexpoimpo')
</script>
<div class="banner">
    <i class="fas fa-plane-departure"></i> EXPORTACIÓN E
    IMPORTACIÓN <i class="fas fa-plane-arrival"></i>
</div>
<div id="tab2" class="separando">
    <div class="row separando">
        <!-- <span class="item-enumeracion"> -->
        <h3>
            <b>Exportación:</b>
        </h3>
        <!-- </span> -->
        <ul>
            <span class="parrafo">
                Podemos vender sus productos en el exterior. Para ello, además de la publicación en e-commerce, tenemos
                representantes en
                todas las Ciudades más importantes del mundo. En Latinoamérica cubrimos <b>TODAS</b> las Ciudades y
                pueblos del
                interior de cada país. Si su empresa no está registrada como Exportadora, nosotros hacemos la
                exportación
                como documentantes por cuenta y orden de este modo usted puede recuperar el IVA y los impuestos que
                haya
                generado en la exportación y además figura como el exportador de dicha mercancía, aún sin estar
                registrado.
            </span>
        </ul>
    </div>
    <div class="row separando">
        <ul>
            <h4>
                El e-commerce que le ofrecemos le da la posibilidad de hacer tres operaciones en forma gratuita, pero
                usted puede ampliar
                la opción de acuerdo a su posibilidad. Otras opciones que son importantes para usted:
            </h4>

            <!-- </div> -->
            <!-- <div class="row"> -->
            <li>
                <span class="item-enumeracion">RUEDAS DE NEGOCIOS:</span> Armamos un plan de viajes con visitas
                programadas, ya sea exclusivas para su Empresa
                o grupales. Un asistente puede visitarlo y armar su plan anual de visitas a potenciales clientes, con
                agenda <b>CERRADA</b>
                que incluya, día, hora, lugar, persona de contacto, tipo de empresa y producto de interés. Todo para
                que
                viaje sin sorpresas. Hable con un asistente ahora haciendo click
                <a href="http://www.mercadolibre.com.ar" target="#">Aquí</a>
                . Una vez hecha la venta en el exterior, el asistente puede conseguirle un préstamo corto, para
                producir sin que tenga que
                invertir o distraer capital de su giro comercial. También el asistente puede ayudarlo a realizar la
                cotización,
                y luego nos encargamos de todo lo que sigue: Aduana, Fiscal, Transporte, etc. hasta la entrega al
                cliente.
                (NO pierda tiempo)
            </li>
        </ul>
    </div>
    <div class="row separando">
        <h3>
            <b>Importación:</b>

        </h3>
        <ul>
            <li>
                Buscamos y le enviamos las alternativas de los mejores proveedores. Sólo
                tiene que solicitar un asistente quien le tomará el pedido e iniciará la búsqueda.
            </li>
            <li>
                Compre sus productos o materias primas a los mejores precios y con proveedores <b>COMPROBADOS</b>.
                Nosotros nos encargamos de que su producto
                llegue de acuerdo a su requerimiento.
            </li>

            <li>
                No arriesgue comprando a desconocidos. Si usted <b>NO</b> es importador, nosotros
                podemos comprar el producto para usted y entregárselo como una venta local. Solicite la planilla de
                compras
                a un asistente
                <a href="http://www.mercadolibre.com.ar" target="#">Aquí</a>
                .
            </li>
            <li>
                Estamos consolidando compras en algunos puertos importantes, si la cantidad que necesita en pequeña
                consulte al asistente
                y puede traer junto a otros pequeños pedidos.
            </li>
            <ul>
                <li>
                    <span class="item-enumeracion">ZONAS FRANCAS/LIBRES:</span>
                    ofrecemos esta opción para aquellas Empresas que quieren importar y hacer el ingreso de las
                    mercaderías en forma fraccionada
                    y así no tener que pagar todos los impuestos de una vez. Si su Empresa tardará meses en vender la
                    mercadería,
                    puede evitar el costo financiero que implica desembolsar alrededor del 50% del valor de la misma.
                    Consulte
                    con el asistente
                    <a href="http://www.mercadolibre.com.ar" target="#">Aquí</a>
                    .
                </li>
            </ul>
            <!-- <a href="http://www.mercadolibre.com.ar" target="_blank" onclick="window.open(this.href, this.target, 'width=auto,height=auto'); return false;">Link</a </li> -->
        </ul>
        <div class="row separando b c s">
            <h3>e-Commex, le ofrece todas las alternativas en Comercio Exterior, háganos saber su necesidad.</h3>
        </div>
    </div>
</div>