<script>
    $('#routers').addClass('fondohome')
</script>
<div class="banner">
    <i class="fas fa-home"></i> HOME
</div>

<div id="tab" class="separando">
    <header>
        <b>
            Desde 1984 hacemos Comercio Exterior pensando en la pequeña y mediana empresa.
        </b>
    </header>

    <div class="row separando2 b">

        <ul class="col-sm-4">
            <li><a ui-sref="exportacion" ui-sref-active="active"><i class="fas fa-plane-departure"></i> EXPORTACIONES.
                </a></li>
            <li><a ui-sref="exportacion" ui-sref-active="active"><i class="fas fa-plane-arrival"></i> IMPORTACIONES.</a></li>
            <li><i class="fas fa-user-shield"></i> SEGUROS.</li>
            <li><a ui-sref="coaching" ui-sref-active="active"><i class="fas fa-user-friends"></i> ASESORAMIENTOS</a></li>
            <ul>
                <li>Coaching:</li>
                <ul>
                    <li><i class="fas fa-user-tie"></i> Empresario.</li>
                    <li><i class="fas fa-user"></i> Personal.</li>
                </ul>
            </ul>
            <li>
                <!-- <a ui-sref="trading" ui-sref-active="active"> -->
                <i class="far fa-handshake"></i> TRADING.</a></li>
            <li><i class="fas fa-hand-holding-usd"></i> FINANCIACIÓN.</li>
            <li>ACUERDOS DE COMPLEMENTACIÓN</li>
        </ul>
        <ul class="col-sm-4">
            <li><i class="fas fa-warehouse"></i> DESPACHOS ACTUALES.</li>
            <li><a ui-sref="logistica" ui-sref-active="active">TRANSPORTES:</a></li>
            <ul>
                <li><i class="fas fa-plane"></i> Aéreo.</li>
                <li><i class="fas fa-ship"></i> Marítimo.</li>
                <li><i class="fas fa-truck"></i></i> Terrestre.</li>
            </ul>
            <li>DEPOSITOS:</li>
            <ul>
                <li>Fiscales.</li>
                <li>Zonas Francas.</li>
            </ul>
        </ul>

        <ul class="col-sm-4">
            <li>INSCRIPCIONES:</li>
            <ul>
                <li>INAL</li>
                <li>Seguridad Eléctrica.</li>
                <li>Ministerio de la producción.</li>
                <li>Otras.</li>
            </ul>
            <li>BROKER</li>
            <li><a ui-sref="ecommerce" ui-sref-active="active"><i class="fas fa-globe"></i> e-Commerce</a></li>
            <ul>
                <li>Comercio Electrónico</li>
            </ul>
        </ul>







    </div>
</div>

<!-- </div> -->