<script>
    $('#routers').addClass('fondohome')
</script>
<div class="banner">
    <i class="fas fa-home"></i> HOME
</div>

<div id="tab" class="separando">
    <header>
        <b>
            Desde 1984 hacemos Comercio Exterior pensando en la pequeña y mediana empresa.
        </b>
    </header>

    <div class="row separando2 b">

        <ul class="col-sm-4">
            <li><a ui-sref="exportacion" ui-sref-active="active">EXPORTACIONES.</a></li>
            <li><a ui-sref="exportacion" ui-sref-active="active">IMPORTACIONES.</a></li>
            <li>SEGUROS.</li>
            <li><a ui-sref="coaching" ui-sref-active="active">ASESORAMIENTOS</a></li>
            <ul>
                <li>Coaching:</li>
                <ul>
                    <li>Empresario.</li>
                    <li>Personal.</li>
                </ul>
            </ul>
            <li><a ui-sref="trading" ui-sref-active="active">TRADING.</a></li>
            <li>FINANCIACIÓN.</li>
            <li>ACUERDOS DE COMPLEMENTACIÓN</li>
        </ul>
        <ul class="col-sm-4">
            <li>DESPACHOS ACTUALES.</li>
            <li>TRANSPORTES:</li>
            <ul>
                <li>Aéreo.</li>
                <li>Marítimo.</li>
                <li>Terrestre.</li>
            </ul>
            <li>DEPOSITOS:</li>
            <ul>
                <li>Fiscales.</li>
                <li>Zonas Francas.</li>
            </ul>
        </ul>

        <ul class="col-sm-4">
            <li>INSCRIPCIONES:</li>
            <ul>
                <li>INAL</li>
                <li>Seguridad Eléctrica.</li>
                <li>Ministerio de la producción.</li>
                <li>Otras.</li>
            </ul>
            <li>BROKER</li>
            <li><a ui-sref="ecommerce" ui-sref-active="active">e-Commerce</a></li>
            <ul>
                <li>Comercio Electrónico</li>
            </ul>
        </ul>







    </div>
</div>

<!-- </div> -->