<script>
    $('#routers').addClass('fondologistica')
</script>

<div class="banner">
    <i class="fas fa-dolly"></i> LOGÍSTICA
</div>

<div id="tab2" class="separando b title">

    <div class="row">
        Nos ocupamos de su carga desde el principio al fin.

        Sabemos como manejarla, y trabajamos para evitar todo tipo de inconvenientes, pero por sobre todo
        que el
        precio sea justo.
    </div>
    <div class="row">
        <li><span>Aéreo</span>:</li>
        <ul>
            <li>
                <div class="undln">Puerta/Puerta:</div>
                Envíe sus paquetes, muestras, documentos, o todo tipo de bultos que no superen las medidas para este
                tipo de envío.
                Consulte con un asistente
                <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Aquí</a>
                y reciba su cotización.
            </li>
            <li>
                <div class="undln">Cargo:</div>
                además de contar con las líneas aéreas comerciales, podemos traer su carga por el servicio de cargo.
                Consulte con un asistente
                <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Aquí</a>
                y reciba su cotización.
            </li>
        </ul>
        <li><span>Terrestre:</span></li>
        <ul>
            <li>
                A todos los destinos, con flotas modernas, equipadas con servicio de radio y satelital.
                Llevamos su carga a los depósitos fiscales, en contenedores o suelta.
                Trasladamos la carga desde y hasta la zonas franca.
                También tenemos minifletes para traslados a Ezeiza o destinos cortos.
                Consulte con un asistente
                <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Aquí</a>
                y reciba su cotización.
            </li>
        </ul>
        <li><span>Fluvial:</span></li>
        <ul>
            <li>
                LLeve ó traiga su carga por vía fluvial a los puertos comerciales sobre el Río Pará, Uruguay.
                Consulte con un asistente
                <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Aquí</a>
                y reciba su cotización.
            </li>
        </ul>
        <li><span>Marítima:</span></li>
        <ul>
            <li>
                Llevamos o traemos su carga por todos los puertos comerciales del mundo.
            </li>
        </ul>
        <li><span>Depósitos:</span></li>
        <ul>
            <li>
                Utilice
                nuestros depósitos, listos para recibir su carga, en donde sea. Efectivamente, realizamos consolidados
                de cargas para abaratar las importaciones, también podemos colocar su carga en Zona Franca para que no
                pague el total de los impuestos de importación, y sólo pague lo que necesita, pero teniendo toda la
                carga a su disposición y a su nombre.
            </li>
            <li>
                Utilice los depósito de zona libre ó franca para modificar la misma y reenviarla a otro país, sin
                necesidad de realizar importación temporaria, ni pagar las tasas e impuestos de Importación. Consulte
                con un asistente
                <a href="formu.html" target="_blank" onclick="window.open(this.href, this.target, 'width=1200%,height=600%'); return false;">Aquí</a>
                y reciba su cotización.
            </li>
        </ul>


    </div>
</div>